
:root{
  --primary: #f393fd;
  --bg: rgb(216, 210, 210);
  --shadow: 2px 5px 12px rgba(0, 0, 0, 0.301);
  --corners: 5px;
}

body{
  background-color: wheat;
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  color: rgb(32, 32, 32);
}

.header{
/*If the margin property has two values:
  margin: 3em 0;
  top and bottom margins are 3em
  right and left margins are 0 or default value*/
  margin: 3em 0;
}

/*every single image will not spill outside the bounds of whatever the parent container is. (in this case that container is .logo-container) */
img{
  max-width: 100%;
}

.balloon{
  height: 120px;
  width: 100px;
  background-color: rgb(75, 132, 67);
  border-radius: 50%;
}

.container{
  width: 50%;
  margin: auto;
}

.shadow{
  filter: drop-shadow(var(--shadow));
}

.card{
  background-color: whitesmoke;
  padding: 1em;
  /*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}


.hidden{
  display: none !important; /* try not to use important in css */ 
}