
:root{
  --primary: #f393fd;
  --primary-darken: #ce5ddab3;
  --bg: #d8d2d2;
  --shadow: 2px 5px 12px rgba(0, 0, 0, 0.301);
  --corners: 5px;
  --text-color: #202020; 
  --light-color: #e7e5e5;
}

body{
  background-color: wheat;
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  color: var(--text-color);
}

.header{
/*If the margin property has two values:
  margin: 3em 0;
  top and bottom margins are 3em
  right and left margins are 0 or default value*/
  margin: 3em 0;
}

/*every single image will not spill outside the bounds of whatever the parent container is. (in this case that container is .logo-container) */
img{
  max-width: 100%;
}

.balloon{
  height: 120px;
  width: 100px;
  background-color: rgb(75, 132, 67);
  border-radius: 50%;
  transition: all .2s ease;
}

button{
  background-color: var(--primary);
  color:var(--light-color);
  border: 1px solid var(--primary-darken);
  border-radius: var(--corners);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  transition: all .2s ease;
  cursor: pointer;
}

button:hover{
  background-color: var(--primary-darken);
}

.container{
  width: 50%;
  margin: auto;
}

.shadow{
  filter: drop-shadow(var(--shadow));
}

.card{
  background-color: var(--light-color);
  padding: 1em;
  /*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

.d-flex{
  display: flex;
}

/*Space-between will only work if the display is flex, because justify-content works only with flexed items.
If the container has d-flex and space-between as classes then this thing below will have an effect*/
.d-flex.space-between{
  justify-content: space-between;
}

.hidden{
  display: none !important; /* try not to use important in css */ 
}